<html>
<head>
    <title>EntityFrameworkWithLinq</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <label>Click to call ASPI</label>
        </div> 
        <div class="col-lg-3 col-md-3">
            <button type="button" data-bind="click:CallApi">Call Api</button>
        </div>
    </div>


        <script src="~/Scripts/jquery-3.3.1.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery-3.3.1.slim.js"></script>
        <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/knockout-3.4.2.js"></script>
        <script src="~/Scripts/modernizr-2.8.3.js"></script>
        <script src="~/Scripts/jquery-3.3.1.intellisense.js"></script>
        <script src="~/Scripts/Main.js"></script>
</body>
</html>
